$flag: '/images/flag-logo.png';

@mixin flag-icon{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  @include margin-right(5px);
  top: 1px;
  background: url($flag) no-repeat transparent;
  background-size: 16px auto;
  &.ar {
    background-position: 0 3px;
  }
  &.zh {
    background-position: 0 -12px;
  }
  &.en {
    background-position: 0 -28px;
  }
  &.de {
    background-position: 0 -44px;
  }
  &.id {
    background-position: 0 -62px;
  }
  &.pt {
    background-position: 0 -79px;
  }
}

.popover {
  @include palette-background-paper;
  width: 200px;
  .v-list {
    border-radius: 0;
  }
}

.switch-toggle {
  margin: spacing(-2, 2, 0);
  height: 24px;
  :deep(.v-switch__thumb) {
    color: $palette-secondary-main;
  }
  :deep(.v-switch__track) {
    background-color: $palette-secondary-light;
  }
  :deep(.v-selection-control) {
    justify-content: center;
  }
}

.flex-menu {
  display: flex;
  padding: spacing(1, 0);
  label {
    padding-top: 8px;
  }
  :deep(.v-messages) {
    display: none;
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.header {
  
  
  :deep(.v-toolbar__content) {
    height: auto !important;
  }
  &.v-app-bar.v-toolbar {
    background-color: transparent;
    box-shadow: none;
  }
  @include palette-text-primary;
  z-index: 91;
  box-shadow: none;
  transition: background 0.3s ease;
  position: fixed !important;
  height: auto !important;

  .v-container {
    display: flex;
    justify-content: center;
    align-items: center;
    #main-wrap & {
      @include breakpoints-down(sm) {
        padding: 0;
      }
    }
  }

  &.fixed.v-app-bar.v-toolbar {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: saturate(180%) blur(20px);
  }

  &.open-drawer {
    box-shadow: none !important;
    z-index: 1100 !important;
    background: none !important;
  }
}

.header-content {
  
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 100%; /* Ensure it takes full width */

  nav {
    display: flex;
    align-items: center;
    justify-content: center; /* Ensure nav is centered */
  }
}

.logo {
  margin-right: $spacing1;
  a {
    
    margin-top: 4px;
    font-size: 16px;
    font-weight: $font-medium;
    position: relative;
    margin: spacing(0, 1);
    text-decoration: none;
  }
  img {
    width: 200px;  // Adjust this value to make the logo smaller
    height: auto; // Automatically adjust the height to maintain aspect ratio
    margin: 0 auto;
    display: block;
  }
}

.nav-logo, .nav-menu {
  
  display: flex;
  justify-content: center; /* Center the menu items */
  align-items: center;
}

.scrollactive-nav {
  
  list-style: none;
  display: flex; /* Flexbox to align items */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  padding: 0;
  margin: 0;
  li {
    margin: 0 10px; /* Adjust margin for spacing between items */
    .v-btn {
      color: $palette-common-white;
      font-size: 16px;
      text-transform: capitalize;
      &:hover {
        
        background: rgba(255, 192, 225, 1);
      }
      &.active {
        background: $palette-primary-main;
      }
    }
  }
}

.v-toolbar__content, .v-toolbar__extension {
  padding: 0;
}

.v-application .v-application--wrap .logo {
  a {
    @include breakpoints-down('sm') {
      color: $palette-common-white;
    }
  }
}

.button.v-btn {
  background-color: $palette-secondary-light !important;
  color: $palette-secondary-main;
  font-weight: $font-bold;
}

.text-btn {
  padding-left: $spacing1;
  padding-right: $spacing1;
}

.lang-menu {
  text-transform: capitalize;
  .flag {
    margin: 0;
    & i {
      @include flag-icon;
    }
  }
  .lang-list {
    padding: 0;
    .lang-opt {
      font-size: 0.875rem;
      @include margin-left($spacing2);
    }
  }
}

.mode-menu {
  text-transform: capitalize;
}

.user-menu {
  & > button {
    margin: 0 $spacing1;
  }
}

.mobile-menu {
  .bar {
    background-color: $palette-common-white;
    &:after, &:before {
      background-color: $palette-common-white;
    }
  }
  &.is-active {
    .bar {
      background-color: $palette-common-white !important;
      &:after, &:before {
        background-color: $palette-common-white !important;
      }
    }
  }
}

.mobile-nav {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: saturate(180%) blur(20px);
  height: 100%;
  @include breakpoints-down(xs) {
    width: 100% !important;
  }
  .menu {
    padding: spacing(2, 3);
    overflow: auto;
    top: spacing(10);
    width: 100%;
    position: absolute;
    height: calc(100% - 80px);
    .menu-list {
      text-transform: capitalize;
      font-size: 24px;
      color: $palette-common-white;
      margin-top: 4px;
      margin-bottom: 4px;
      font-weight: $font-regular;
      padding: spacing(1, 0);
    }
    &.menu-open {
      a {
        animation-name: slideRight;
        animation-timing-function: ease;
      }
    }
  }
  .divider-sidebar {
    background: rgba(255, 255, 255, 0.2);
    margin: spacing(3, 0);
  }
}

.nav-auth {
  justify-content: space-around;
  .button.v-btn {
    padding: spacing(0.5, 4) !important;
  }
}

.divider {
  background: none;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  height: 20px;
  display: block;
}
