body {
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  

  html, body {
  background-color:#231b1e; /* Ensure text is visible */ /* Set your desired background color */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  
  * {
    box-sizing: border-box;
  }
}