.decoration {
  position: absolute;
  width: 1280px;
  height: 960px;
  top: 200px;

  svg {
    width: 1280px;
    height: 100%;
    @include use-theme(fill, $palette-primary-light, $palette-primary-dark);
    opacity: 0.2;

    @include breakpoints-up(lg) {
      transform: scale(1.5, 1);
    }

    @include breakpoints-up(xl) {
      display: none;
    }

    @include breakpoints-down(xs) {
      transform: scale(0.7);
      transform-origin: center left;
    }
  }
}

.root {
  position: relative;

  @include breakpoints-down(xs) {
    transform: scale(0.9); /* Scale down the entire section to 80% */
    transform-origin: top left; /* Make sure the scaling happens from the top-left corner */
    text-align: center;
  }
}

.custom-text {
  display: block;
  padding-top: 25px;
  font-size: 30px;
  color: #8f8989;
  font-weight: bold;
  letter-spacing: 0.5px;

  @include breakpoints-down(xs) {
    font-size: 30px; /* Keep the font size, but it will scale down */
  }
}

.title {
  font-weight: $font-bold;
  display: inline-block;
  margin-top: -30px;
  text-align: left;
  display: flex;
  flex-direction: column;

  @include breakpoints-down(xs) {
    font-size: 6rem; /* The title will scale down automatically */
  }
}

.word-the {
  color: #976cb6;
  font-size: 6rem;

  @include breakpoints-down(xs) {
    font-size: 6rem; /* No change, scales down with the container */
  }
}

.word-shows {
  color: #b77c36;
  font-size: 6rem;
  margin-top: -50px;

  @include breakpoints-down(xs) {
    margin-top: -50px; /* Keep the same margin */
  }
}
