.decoration {
  position: absolute;
  width: 1280px;
  height: 960px;
  top: 200px;
  svg {
    width: 1280px;
    height: 100%;
    @include use-theme(fill, $palette-primary-light, $palette-primary-dark);
    opacity: 0.2;
    @include breakpoints-up(lg) {
      transform: scale(1.5, 1)
    }
    @include breakpoints-up(xl) {
      display: none
    }
    @include breakpoints-down(xs) {
      transform: scale(0.5);
      transform-origin: center left
    }
  }
}

.root {
  position: relative;
  @include breakpoints-down(xs) {
    text-align: center
  }
}

.custom-text {
  display: block; /* Ensures it's treated as a block-level element */
  padding-top: 25px; /* Adjust the top padding */
  font-size: 30px; /* Adjust the font size */
  color: #8f8989; /* Adjust the color */
  font-weight: bold; /* Optional: Add other font properties */
  letter-spacing: 0.5px;
  
}

.title {
  font-weight: $font-bold;
  display: inline-block; // Keep primary title inline
  margin-top: -30px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.word-the {
  color: #976CB6;

  font-size: 6rem; /* Adjust size if necessary */
}

.word-shows {
  color: #B77C36;
  font-size: 6rem; /* Adjust size if necessary */
  margin-top: -50px; /* Adjust this to move it closer or farther */
}
